<div class="row">
  <%= render PortalWeb.SharedView, "sidebar.html" %>

  <div class="col-10 fixed-height px-2">
    <div class="container py-3">

    <h3>Edit Employee Loan</h3>

    <%= render "form.html", Map.put(assigns, :action, Routes.employee_emploan_path(@conn, :update, @emploan.employee_id, @emploan.id)) %>

    </div>
  </div>
</div>
