<%= form_for @changeset, @action, fn f -> %>
  <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
    <div class="btn-group" role="group" aria-label="Standard Actions">

      <%= if assigns[:emploan] do %>
      <%= link "Back", to: Routes.employee_path(@conn, :edit, @emploan.employee_id), class: "btn btn-primary" %>
      <%= link "New", to: Routes.employee_emploan_path(@conn, :new, @emploan.employee_id), class: "btn btn-primary" %>
      <% else %>
      <%= link "Back", to: Routes.employee_path(@conn, :edit, @changeset.changes.employee_id), class: "btn btn-primary" %>
      <%= link "New", to: Routes.employee_emploan_path(@conn, :new, @changeset.changes.employee_id), class: "btn btn-primary" %>
      <% end %>
      <%= submit "Save", class: "btn btn-primary" %>
    </div>
  </div>

  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      Oops, something went wrong! Please check the errors below.
    </div>
  <% end %>

  <div class="row">
  <div class="col-6">
    <div class="card">
    <div class="card-body">

    <div class="form-group row">
      <%= label f, :employee_id, class: "col-4 col-form-label" do %>
        Employee Code
      <% end %>
      <div class="col-6">
        <%= text_input f, :employee_id, class: "form-control form-control-sm" %>
      </div>
      <%= error_tag f, :employee_id %>
    </div>

    <div class="form-group row">
      <%= label f, :loanName, class: "col-4 col-form-label" do %>
        Loan Type
      <% end %>
      <div class="col-6">
        <%= select f, :loanName, Enum.map(@map_selections.loans, &{&1.name, &1.name}), prompt: "Select Loan Type", class: "form-control form-control-sm" %>
      </div>
      <%= error_tag f, :loanName %>
    </div>

    <div class="form-group row">
      <%= label f, :loanDate, class: "col-4 col-form-label" do %>
        Loan Date
      <% end %>
      <div class="col-6">
        <%= date_input f, :loanDate, class: "form-control form-control-sm" %>
      </div>
      <%= error_tag f, :loanDate %>
    </div>

    <div class="form-group row">
      <%= label f, :principalAmount, class: "col-4 col-form-label" do %>
        Principal Amount
      <% end %>
      <div class="col-6">
        <%= number_input f, :principalAmount, class: "form-control form-control-sm" %>
      </div>
      <%= error_tag f, :principalAmount %>
    </div>

    <div class="form-group row">
      <%= label f, :payableMonths, class: "col-4 col-form-label" do %>
        Payable Months
      <% end %>
      <div class="col-6">
        <%= number_input f, :payableMonths, class: "form-control form-control-sm" %>
      </div>
      <%= error_tag f, :payableMonths %>
    </div>

    </div>
    </div>
  </div>
  </div>
<% end %>
