<div class="row">
  <div class="col-10 fixed-height px-2">
    <div class="container py-3">

    <h4>Employee Loans</h4>

    <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
        <div class="btn-group" role="group" aria-label="Standard Actions">
          <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="top" title="Adding of Loans is Disabled">
            <button type="button" class="btn btn-outline-primary btn-sm" disabled>Records</button>
          </span>
        </div>
    </div>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Loan Type</th>
      <th scope="col">Loan Date</th>
      <th scope="col">Principal</th>
      <th scope="col">Payable Months</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= if Enumerable.impl_for @emp_loans do %>
<%= for emploan <- @emp_loans do %>
    <tr>
      <td><%= emploan.loanName %></td>
      <td><%= emploan.loanDate %></td>
      <td><%= emploan.principalAmount %></td>
      <td><%= emploan.payableMonths %></td>

      <td>
        <span><%= link "Show", to: Routes.employee_emploan_path(@conn, :show, @employee.id, emploan.id) %></span>
        <span><%= link "Edit", to: Routes.employee_emploan_path(@conn, :edit, @employee.id, emploan.id) %></span>
        <span><%= link "Delete", to: Routes.employee_emploan_path(@conn, :delete, @employee.id, emploan.id), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
<% end %>
  </tbody>
</table>

  </div>
  </div>
</div>
