<div class="row">
  <%= render PortalWeb.SharedView, "sidebar.html" %>

  <div class="col-10 fixed-height px-2">
    <div class="container py-3">

    <h3>New Employee Loan</h3>

    <%= render "form.html", Map.put(assigns, :action, Routes.employee_emploan_path(@conn, :create, @changeset.changes.employee_id)) %>

    </div>
    </div>
</div>
