<div class="row">
  <%= render PortalWeb.SharedView, "sidebar.html" %>

  <div class="col-10 fixed-height px-2">
    <div class="container py-3">

    <h3>View Employee Loan</h3>

    <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
      <div class="btn-group" role="group" aria-label="Standard Actions">
        <%= link "Back", to: Routes.employee_path(@conn, :edit, @emploan.employee_id), class: "btn btn-primary" %>
        <%= link "New", to: Routes.employee_emploan_path(@conn, :new, @emploan.employee_id), class: "btn btn-primary" %>
        <%= link "Edit", to: Routes.employee_emploan_path(@conn, :edit, @emploan.employee_id, @emploan.id), class: "btn btn-primary" %>
      </div>
    </div>

  <div class="row">
  <div class="col-6">
    <div class="card">
    <div class="card-body">

    <div class="form-group row">
      <label for="inputEmpCode" class="col-4 col-form-label">
        Employee Code
      </label>
      <div class="col-6">
        <input type="text" class="form-control form-control-sm" id="inputEmpCode" value="<%= @emploan.employee_id %>" disabled>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputLoanType" class="col-4 col-form-label">
        Loan Type
      </label>
      <div class="col-6">
        <select class="form-control form-control-sm" id="inputLoanType" disabled>
          <%= for loan <- @map_selections.loans do %>
            <%= if loan.name == @emploan.loanName do %>
              <option value="<%= loan.name %>" selected><%= loan.name %></option>
            <% else %>
              <option value="<%= loan.name %>"><%= loan.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputLoanDate" class="col-4 col-form-label">
        Loan Date
      </label>
      <div class="col-6">
        <input type="text" class="form-control form-control-sm" id="inputLoanDate" value="<%= @emploan.loanDate %>" disabled>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPrincipalAmount" class="col-4 col-form-label">
        Principal Amount
      </label>
      <div class="col-6">
        <input type="text" class="form-control form-control-sm" id="inputPrincipalAmount" value="<%= @emploan.principalAmount %>" disabled>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPayableMonths" class="col-4 col-form-label">
        Payable Months
      </label>
      <div class="col-6">
        <input type="text" class="form-control form-control-sm" id="inputPayableMonths" value="<%= @emploan.payableMonths %>" disabled>
      </div>
    </div>


      </div>
      </div>
    </div>
    </div>

    </div>
    </div>
</div>
