<%= form_for @changeset, @action, fn f -> %>
  <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
    <div class="btn-group" role="group" aria-label="Standard Actions">
      <%= link "Back", to: Routes.employee_path(@conn, :index), class: "btn btn-primary" %>
      <%= link "New", to: Routes.employee_path(@conn, :new), class: "btn btn-primary" %>
      <%= submit "Save", class: "btn btn-primary" %>
    </div>
  </div>

  <%= if @changeset.action do %>
    <div class="alert alert-danger" role="alert">
      Oops, something went wrong! Please check the errors below.
    </div>
  <% end %>

  <%= if get_flash(@conn, :info) do %>
    <div class="alert alert-info" role="alert">
      <%= get_flash(@conn, :info) %>
    </div>
  <% end %>

  <div class="card">
  <div class="card-body">

  <ul class="nav nav-tabs" id="employeeTabList" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="personal-information-tab" data-toggle="tab" href="#personal-information" role="tab" aria-controls="personal-information" aria-selected="true">Personal Information</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="administration-tab" data-toggle="tab" href="#administration" role="tab" aria-controls="administration" aria-selected="true">Administration</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="accounting-tab" data-toggle="tab" href="#accounting" role="tab" aria-controls="accounting" aria-selected="true">Accounting</a>
    </li>
  </ul>

  <div class="tab-content" id="employeeTabListContent">
    <div class="tab-pane fade show active px-3 pt-4" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="row">

        <div class="col-6">
          <div class="form-group row">
            <%= label f, :employeeCode, class: "col-4 col-form-label" do %>
              Employee Code
            <% end %>
            <div class="col-6">
              <%= text_input f, :employeeCode, class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :employeeCode %>
          </div>

          <div class="form-group row">
            <%= label f, :firstName, class: "col-4 col-form-label" do %>
              First Name
            <% end %>
            <div class="col-6">
              <%= text_input f, :firstName, class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :firstName %>
          </div>

          <div class="form-group row">
            <%= label f, :middleName, class: "col-4 col-form-label" do %>
              Middle Name
            <% end %>
            <div class="col-6">
              <%= text_input f, :middleName, class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :middleName %>
          </div>

          <div class="form-group row">
            <%= label f, :lastName, class: "col-4 col-form-label" do %>
              Last Name
            <% end %>
            <div class="col-6">
              <%= text_input f, :lastName, class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :lastName %>
          </div>

          <div class="form-group row">
            <%= label f, :jobTitleID, class: "col-4 col-form-label" do %>
              Position
            <% end %>
            <div class="col-6">
              <%#= number_input f, :jobTitleID, class: "form-control form-control-sm" %>
              <%= select f, :jobTitleID, Enum.map(@map_selections.positions, &{&1.position, &1.id}), prompt: "Select Position", class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :jobTitleID %>
          </div>

          <div class="form-group row">
            <%= label f, :departmentID, class: "col-4 col-form-label" do %>
              Department
            <% end %>
            <div class="col-6">
              <%#= number_input f, :departmentID, class: "form-control form-control-sm" %>
              <%= select f, :departmentID, Enum.map(@map_selections.departments, &{&1.departmentName, &1.id}), prompt: "Select Department", class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :departmentID %>
          </div>
        </div>

        <div class="col-6">
          <div class="card" style="width: 12rem;">
            <img src="<%= Routes.static_path(@conn, "/images/cat.jpg") %>" class="card-img-top" alt="Employee Picture"/>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile">
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="tab-pane fade px-3 py-4" id="personal-information" role="tabpanel" aria-labelledby="personalinformation-tab">
      <div class="row">

        <div class="col-6">
          <div class="form-group row">
            <%= label f, :gender, class: "col-4 col-form-label" do %>
              Gender
            <% end %>
            <div class="col-6">
              <%= select f, :gender, ["Male": "M", "Female": "F"], prompt: "Select Gender", class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :gender %>
          </div>

          <div class="form-group row">
            <%= label f, :presentAddr, class: "col-4 col-form-label" do %>
              Present Address
            <% end %>
            <div class="col-6">
              <%= text_input f, :presentAddr, class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :presentAddr %>
          </div>

          <div class="form-group row">
            <%= label f, :permanentAddr, class: "col-4 col-form-label" do %>
              Home Address
            <% end %>
            <div class="col-6">
              <%= text_input f, :permanentAddr, class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :permanentAddr %>
          </div>

          <div class="form-group row">
            <%= label f, :countryID, class: "col-4 col-form-label" do %>
              Country
            <% end %>
            <div class="col-6">
              <%#= number_input f, :countryID, class: "form-control form-control-sm" %>
              <%= select f, :countryID, Enum.map(@map_selections.countries, &{&1.countryCD <> " - " <> &1.countryName, &1.id}), prompt: "Select Country", class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :countryID %>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group row">
            <%= label f, :birthDate, class: "col-4 col-form-label" do %>
              Birth Date
            <% end %>
            <div class="col-6">
              <%= date_input f, :birthDate, class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :birthDate %>
          </div>

          <div class="form-group row">
            <%= label f, :status, class: "col-4 col-form-label" do %>
              Marital Status
            <% end %>
            <div class="col-6">
              <%= select f, :status, ["Single": "S", "Married": "M", "Divorced": "D", "Widowed": "W"], prompt: "Select Marital Status", class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :status %>
          </div>

          <div class="form-group row">
            <%= label f, :contactNbr, class: "col-4 col-form-label" do %>
              Contact No.
            <% end %>
            <div class="col-6">
              <%= text_input f, :contactNbr, class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :contactNbr %>
          </div>

          <div class="form-group row">
            <%= label f, :email, class: "col-4 col-form-label" do %>
              Email Address
            <% end %>
            <div class="col-6">
              <%= text_input f, :email, class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :email %>
          </div>
        </div>

      </div>
    </div>

    <div class="tab-pane fade px-3 py-4" id="administration" role="tabpanel" aria-labelledby="administration-tab">
      <div class="row">

        <div class="col-6">
          <div class="form-group row">
            <%= label f, :employeeStatus, class: "col-4 col-form-label" do %>
              Employee Status
            <% end %>
            <div class="col-6">
              <%#= text_input f, :employeeStatus, class: "form-control form-control-sm" %>
              <%= select f, :employeeStatus, ["Regular": "R", "Probationary": "P", "Resigned": "T", "AWOL": "A", "On Vacation": "V"], prompt: "Select Employee Status", class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :employeeStatus %>
          </div>

          <div class="form-group row">
            <%= label f, :hireDate, class: "col-4 col-form-label" do %>
              Hire Date
            <% end %>
            <div class="col-6">
              <%= date_input f, :hireDate, class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :hireDate %>
          </div>

          <div class="form-group row">
            <%= label f, :terminationDate, class: "col-4 col-form-label" do %>
              Termination Date
            <% end %>
            <div class="col-6">
              <%= date_input f, :terminationDate, class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :terminationDate %>
          </div>

          <div class="form-group row">
            <%= label f, :basicSalary, class: "col-4 col-form-label" do %>
              Basic Salary
            <% end %>
            <div class="col-6">
              <%= number_input f, :basicSalary, step: "any", class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :basicSalary %>
          </div>

          <div class="form-group row">
            <%= label f, :taxStatus, class: "col-4 col-form-label" do %>
              Tax Status
            <% end %>
            <div class="col-6">
              <%#= text_input f, :taxStatus, class: "form-control form-control-sm" %>
              <%= select f, :taxStatus, ["Regular": "R"], prompt: "Select Tax Status", class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :taxStatus %>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group row">
            <%= label f, :bankAcctNbr, class: "col-4 col-form-label" do %>
              Bank Account No.
            <% end %>
            <div class="col-6">
              <%= text_input f, :bankAcctNbr, class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :bankAcctNbr %>
          </div>

          <div class="form-group row">
            <%= label f, :sssNbr, class: "col-4 col-form-label" do %>
              SSS No.
            <% end %>
            <div class="col-6">
              <%= text_input f, :sssNbr, class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :sssNbr %>
          </div>

          <div class="form-group row">
            <%= label f, :tinNbr, class: "col-4 col-form-label" do %>
              TIN No.
            <% end %>
            <div class="col-6">
              <%= text_input f, :tinNbr, class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :tinNbr %>
          </div>

          <div class="form-group row">
            <%= label f, :philhealthNbr, class: "col-4 col-form-label" do %>
              PhilHealth No.
            <% end %>
            <div class="col-6">
              <%= text_input f, :philhealthNbr, class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :philhealthNbr %>
          </div>

          <div class="form-group row">
            <%= label f, :hdmfNbr, class: "col-4 col-form-label" do %>
              HDMF No.
            <% end %>
            <div class="col-6">
              <%= text_input f, :hdmfNbr, class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :hdmfNbr %>
          </div>

          <div class="form-group row">
            <%= label f, :hmoNbr, class: "col-4 col-form-label" do %>
              HMO No.
            <% end %>
            <div class="col-6">
              <%= text_input f, :hmoNbr, class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :hmoNbr %>
          </div>
        </div>

      </div>

      <%#= if Enumerable.impl_for @emp_leaves do %>
      <%= render PortalWeb.EmpleaveView, "index.html", assigns %>
      <%# end %>

    </div>

    <div class="tab-pane fade px-3 py-4" id="accounting" role="tabpanel" aria-labelledby="accounting-tab">
      <div class="row">

        <div class="col-6">
          <div class="form-group row">
            <%= label f, :sssPrem, class: "col-4 col-form-label" do %>
              SSS Premium
            <% end %>
            <div class="col-6">
              <%= number_input f, :sssPrem, step: "any", class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :sssPrem %>
          </div>

          <div class="form-group row">
            <%= label f, :philhealthPrem, class: "col-4 col-form-label" do %>
              PhilHealth Prem
            <% end %>
            <div class="col-6">
              <%= number_input f, :philhealthPrem, step: "any", class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :philhealthPrem %>
          </div>

          <div class="form-group row">
            <%= label f, :hdmfPrem, class: "col-4 col-form-label" do %>
              HDMF Premium
            <% end %>
            <div class="col-6">
              <%= number_input f, :hdmfPrem, step: "any", class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :hdmfPrem %>
          </div>

          <div class="form-group row">
            <%= label f, :taxWth, class: "col-4 col-form-label" do %>
              Tax Withheld
            <% end %>
            <div class="col-6">
              <%= number_input f, :taxWth, step: "any", class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :taxWth %>
          </div>

          <div class="form-group row">
            <%= label f, :allowance, class: "col-4 col-form-label" do %>
              Allowances
            <% end %>
            <div class="col-6">
              <%= number_input f, :allowance, step: "any", class: "form-control form-control-sm" %>
            </div>
            <%= error_tag f, :allowance %>
          </div>
        </div>

        <div class="col-6">
        </div>
      </div>

      <%= render PortalWeb.EmploanView, "index.html", assigns %>

    </div>
  </div>

  </div>
  </div>
<% end %>
