<div class="row">
  <%= render PortalWeb.SharedView, "sidebar.html" %>

  <div class="col-10 fixed-height px-2">
    <div class="container py-3">

    <h3>Employee List</h3>

    <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
        <div class="btn-group" role="group" aria-label="Standard Actions">
          <%= link "New Record", to: Routes.employee_path(@conn, :new), class: "btn btn-outline-primary" %>
        </div>
      </div>

    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Emp Code</th>
          <th scope="col">Last Name</th>
          <th scope="col">First Name</th>
          <th scope="col">Middle Name</th>
          <th scope="col">Position</th>
          <th scope="col">Department</th>
          <th scope="col">Employee Status</th>

          <th></th>
        </tr>
      </thead>
      <tbody>
    <%= for employee <- @employees do %>
        <tr>
          <td><%= employee.employeeCode %></td>
          <td><%= employee.lastName %></td>
          <td><%= employee.firstName %></td>
          <td><%= employee.middleName %></td>
          <td><%= get_position_name(employee.jobTitleID) %></td>
          <td><%= get_dept_name(employee.departmentID) %></td>
          <td><%= get_tax_name(employee.employeeStatus) %></td>

          <td>
            <span><%= link "Show", to: Routes.employee_path(@conn, :show, employee) %></span>
            <span><%= link "Edit", to: Routes.employee_path(@conn, :edit, employee) %></span>
            <span><%= link "Delete", to: Routes.employee_path(@conn, :delete, employee), method: :delete, data: [confirm: "Are you sure?"] %></span>
          </td>
        </tr>
    <% end %>
      </tbody>
    </table>

  </div>
  </div>
</div>
