<div class="row">
  <%= render PortalWeb.SharedView, "sidebar.html" %>

  <div class="col-10 fixed-height px-2">
    <div class="container py-3">

    <h3>View Employee</h3>

    <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
      <div class="btn-group" role="group" aria-label="Standard Actions">
        <%= link "Back", to: Routes.employee_path(@conn, :index), class: "btn btn-primary" %>
        <%= link "New", to: Routes.employee_path(@conn, :new), class: "btn btn-primary" %>
        <%= link "Edit", to: Routes.employee_path(@conn, :edit, @employee), class: "btn btn-primary" %>
      </div>
    </div>

    <%= if get_flash(@conn, :info) do %>
      <div class="alert alert-info" role="alert">
        <%= get_flash(@conn, :info) %>
      </div>
    <% end %>

    <div class="card">
    <div class="card-body">

    <ul class="nav nav-tabs" id="employeeTabList" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="personal-information-tab" data-toggle="tab" href="#personal-information" role="tab" aria-controls="personal-information" aria-selected="true">Personal Information</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="administration-tab" data-toggle="tab" href="#administration" role="tab" aria-controls="administration" aria-selected="true">Administration</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="accounting-tab" data-toggle="tab" href="#accounting" role="tab" aria-controls="accounting" aria-selected="true">Accounting</a>
    </li>
  </ul>

  <div class="tab-content" id="employeeTabListContent">
    <div class="tab-pane fade show active px-3 pt-4" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="row">

        <div class="col-6">
          <div class="form-group row">
            <label for="inputEmployeeCode" class="col-4 col-form-label">
              Employee Code
            </label>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" id="inputEmployeeCode" value="<%= @employee.employeeCode %>" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputFirstName" class="col-4 col-form-label">
              First Name
            </label>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" id="inputFirstName" value="<%= @employee.firstName %>" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputMiddleName" class="col-4 col-form-label">
              Middle Name
            </label>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" id="inputMiddleName" value="<%= @employee.middleName %>" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputLastName" class="col-4 col-form-label">
              Last Name
            </label>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" id="inputLastName" value="<%= @employee.lastName %>" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPosition" class="col-4 col-form-label">
              Position
            </label>
            <div class="col-6">
              <select class="form-control form-control-sm" id="inputPosition" disabled>
                <%= for position <- @map_selections.positions do %>
                  <%= if position.id == @employee.jobTitleID do %>
                    <option value="<%= position.id %>" selected><%= position.position %></option>
                  <% else %>
                    <option value="<%= position.id %>"><%= position.position %></option>
                  <% end %>
                <% end %>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputDepartmentID" class="col-4 col-form-label">
              Department
            </label>
            <div class="col-6">
              <select class="form-control form-control-sm" id="inputDepartmentID" disabled>
                <%= for department <- @map_selections.departments do %>
                  <%= if department.id == @employee.departmentID do %>
                    <option value="<%= department.id %>" selected><%= department.departmentName %></option>
                  <% else %>
                    <option value="<%= department.id %>"><%= department.departmentName %></option>
                  <% end %>
                <% end %>
              </select>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card" style="width: 12rem;">
            <img src="<%= Routes.static_path(@conn, "/images/cat.jpg") %>" class="card-img-top" alt="Employee Picture"/>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile">
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="tab-pane fade px-3 py-4" id="personal-information" role="tabpanel" aria-labelledby="personalinformation-tab">
      <div class="row">

        <div class="col-6">
          <div class="form-group row">
            <label for="inputGender" class="col-4 col-form-label">
              Gender
            </label>
            <div class="col-6">
              <select class="form-control form-control-sm" id="inputGender" disabled>
                <%= for {k, v} <- ["Male": "M", "Female": "F"] do %>
                  <%= if v == @employee.gender do %>
                    <option value="<%= v %>" selected><%= k %></option>
                  <% else %>
                    <option value="<%= v %>"><%= k %></option>
                  <% end %>
                <% end %>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPresentAddr" class="col-4 col-form-label">
              Present Address
            </label>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" id="inputPresentAddr" value="<%= @employee.presentAddr %>" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPermanentAddr" class="col-4 col-form-label">
              Home Address
            </label>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" id="inputPermanentAddr" value="<%= @employee.permanentAddr %>" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputCountryID" class="col-4 col-form-label">
              Country
            </label>
            <div class="col-6">
              <select class="form-control form-control-sm" id="inputCountryID" disabled>
                <%= for country <- @map_selections.countries do %>
                  <%= if country.id == @employee.countryID do %>
                    <option value="<%= country.id %>" selected><%= country.countryCD %> - <%= country.countryName %></option>
                  <% else %>
                    <option value="<%= country.id %>"><%= country.countryCD %> - <%= country.countryName %></option>
                  <% end %>
                <% end %>
              </select>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group row">
            <label for="inputBirthDate" class="col-4 col-form-label">
              Birth Date
            </label>
            <div class="col-6">
              <input type="date" class="form-control form-control-sm" id="inputBirthDate" value="<%= @employee.birthDate %>" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputMaritalStatus" class="col-4 col-form-label">
              Marital Status
            </label>
            <div class="col-6">
              <select class="form-control form-control-sm" id="inputMaritalStatus" disabled>
                <%= for {k,v} <- ["Single": "S", "Married": "M", "Divorced": "D", "Widowed": "W"] do %>
                  <%= if v == @employee.status do %>
                    <option value="<%= v %>" selected><%= k %></option>
                  <% else %>
                    <option value="<%= v %>"><%= k %></option>
                  <% end %>
                <% end %>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputContactNbr" class="col-4 col-form-label">
              Contact Nbr
            </label>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" id="inputContactNbr" value="<%= @employee.contactNbr %>" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputEmailAddress" class="col-4 col-form-label">
              Email Address
            </label>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" id="inputEmailAddress" value="<%= @employee.email %>" disabled>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="tab-pane fade px-3 py-4" id="administration" role="tabpanel" aria-labelledby="administration-tab">
      <div class="row">

        <div class="col-6">
          <div class="form-group row">
            <label for="inputEmployeeStatus" class="col-4 col-form-label">
              Employee Status
            </label>
            <div class="col-6">
              <select class="form-control form-control-sm" id="inputEmployeeStatus" disabled>
                <%= for {k,v} <- ["Regular": "R", "Probationary": "P", "Resigned": "T", "AWOL": "A", "On Vacation": "V"] do %>
                  <%= if v == @employee.employeeStatus do %>
                    <option value="<%= v %>" selected><%= k %></option>
                  <% else %>
                    <option value="<%= v %>"><%= k %></option>
                  <% end %>
                <% end %>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputHireDate" class="col-4 col-form-label">
              Hire Date
            </label>
            <div class="col-6">
              <input type="date" class="form-control form-control-sm" id="inputHireDate" value="<%= @employee.hireDate %>" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputTerminationDate" class="col-4 col-form-label">
              Termination Date
            </label>
            <div class="col-6">
              <input type="date" class="form-control form-control-sm" id="inputTerminationDate" value="<%= @employee.terminationDate %>" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputBasicSalary" class="col-4 col-form-label">
              Basic Salary
            </label>
            <div class="col-6">
              <input type="number" class="form-control form-control-sm" id="inputBasicSalary" value="<%= @employee.basicSalary %>" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputTaxStatus" class="col-4 col-form-label">
              Tax Status
            </label>
            <div class="col-6">
              <select class="form-control form-control-sm" id="inputTaxStatus" disabled>
                <%= for {k,v} <- ["Regular": "R"] do %>
                  <%= if v == @employee.taxStatus do %>
                    <option value="<%= v %>" selected><%= k %></option>
                  <% else %>
                    <option value="<%= v %>"><%= k %></option>
                  <% end %>
                <% end %>
              </select>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group row">
            <label for="inputBankAcctNbr" class="col-4 col-form-label">
              Bank Account Nbr
            </label>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" id="inputBankAcctNbr" value="<%= @employee.bankAcctNbr %>" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputSSSNbr" class="col-4 col-form-label">
              SSS Nbr
            </label>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" id="inputSSSNbr" value="<%= @employee.sssNbr %>" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputTINNbr" class="col-4 col-form-label">
              TIN Nbr
            </label>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" id="inputTINNbr" value="<%= @employee.tinNbr %>" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPhilHealthNbr" class="col-4 col-form-label">
              PhilHealth Nbr
            </label>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" id="inputPhilHealthNbr" value="<%= @employee.philhealthNbr %>" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputHDMFNbr" class="col-4 col-form-label">
              HDMF Nbr
            </label>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" id="inputHDMFNbr" value="<%= @employee.hdmfNbr %>" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputHMONbr" class="col-4 col-form-label">
              HMO Nbr
            </label>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" id="inputHMONbr" value="<%= @employee.hmoNbr %>" disabled>
            </div>
          </div>
        </div>

      </div>

      <%= render PortalWeb.EmpleaveView, "index-disabled.html", assigns %>

    </div>

    <div class="tab-pane fade px-3 py-4" id="accounting" role="tabpanel" aria-labelledby="accounting-tab">
      <div class="row">

        <div class="col-6">
          <div class="form-group row">
            <label for="inputSSSPrem" class="col-4 col-form-label">
              SSS Premium
            </label>
            <div class="col-6">
              <input type="number" class="form-control form-control-sm" id="inputSSSPrem" value="<%= @employee.sssPrem %>" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPhilHealthPrem" class="col-4 col-form-label">
              PhilHealth Prem
            </label>
            <div class="col-6">
              <input type="number" class="form-control form-control-sm" id="inputPhilHealthPrem" value="<%= @employee.philhealthPrem %>" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputHDMFPrem" class="col-4 col-form-label">
              HDMF Premium
            </label>
            <div class="col-6">
              <input type="number" class="form-control form-control-sm" id="inputHDMFPrem" value="<%= @employee.hdmfPrem %>" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputTaxWth" class="col-4 col-form-label">
              Tax Withheld
            </label>
            <div class="col-6">
              <input type="number" class="form-control form-control-sm" id="inputTaxWth" value="<%= @employee.taxWth %>" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputAllowance" class="col-4 col-form-label">
              Allowances
            </label>
            <div class="col-6">
              <input type="number" class="form-control form-control-sm" id="inputAllowance" value="<%= @employee.allowance %>" disabled>
            </div>
          </div>
        </div>

        <div class="col-6">
        </div>

      </div>

      <%= render PortalWeb.EmploanView, "index-disabled.html", assigns %>

    </div>
  </div>

  </div>
  </div>
</div>
