<%= form_for @changeset, @action, fn f -> %>
  <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
    <div class="btn-group" role="group" aria-label="Standard Actions">
      <%= link "Back", to: Routes.attendance_path(@conn, :index), class: "btn btn-primary" %>
      <%= link "New", to: Routes.attendance_path(@conn, :new), class: "btn btn-primary" %>
      <%= submit "Save", class: "btn btn-primary" %>
    </div>
  </div>

  <%= if @changeset.action do %>
    <div class="alert alert-danger" role="alert">
      Oops, something went wrong! Please check the errors below.
    </div>
  <% end %>

  <div class="card">
  <div class="card-body">

  <div class="form-group row">
    <%= label f, :employee_id, class: "col-2 col-form-label" do %>
      Employee Code
    <% end %>
    <div class="col-3">
      <%= select f, :employee_id, Enum.map(@map_selections.employees, &{&1.employeeCode <> " - " <> &1.lastName <> ", " <> &1.firstName, &1.id}), prompt: "Select Employee", class: "form-control form-control-sm" %>
    </div>
    <%= error_tag f, :employee_id %>
  </div>

  <div class="form-group row">
    <%= label f, :dateIn, class: "col-2 col-form-label" do %>
      Date
    <% end %>
    <div class="col-3">
      <%= date_input f, :dateIn, value: @attendance.dateIn, class: "form-control form-control-sm" %>
    </div>
    <%= error_tag f, :dateIn %>
  </div>

  <div class="form-group row">
    <%= label f, :timeIn, class: "col-2 col-form-label" do %>
      Time In
    <% end %>
    <div class="col-3">
      <%= time_input f, :timeIn, value: @attendance.timeIn, class: "form-control form-control-sm" %>
    </div>
    <%= error_tag f, :timeIn %>
  </div>

  <div class="form-group row">
    <%= label f, :timeOut, class: "col-2 col-form-label" do %>
      Time Out
    <% end %>
    <div class="col-3">
      <%= time_input f, :timeOut, value: @attendance.timeOut, class: "form-control form-control-sm" %>
    </div>
    <%= error_tag f, :timeOut %>
  </div>

  <div class="form-group row">
    <%= label f, :regHours, class: "col-2 col-form-label" do %>
      Regular Hours
    <% end %>
    <div class="col-3">
      <%= number_input f, :regHours, value: @attendance.regHours, class: "form-control form-control-sm" %>
    </div>
    <%= error_tag f, :regHours %>
  </div>

  <div class="form-group row">
    <%= label f, :otHours, class: "col-2 col-form-label" do %>
      Overtime Hours
    <% end %>
    <div class="col-3">
      <%= number_input f, :otHours, value: @attendance.otHours, class: "form-control form-control-sm" %>
    </div>
    <%= error_tag f, :otHours %>
  </div>

  <div class="form-group row">
    <%= label f, :leaveHours, class: "col-2 col-form-label" do %>
      Leave Hours
    <% end %>
    <div class="col-3">
      <%= number_input f, :leaveHours, value: @attendance.leaveHours, class: "form-control form-control-sm" %>
    </div>
    <%= error_tag f, :leaveHours %>
  </div>

  <div class="form-group row">
    <%= label f, :totalHours, class: "col-2 col-form-label" do %>
      Total Hours
    <% end %>
    <div class="col-3">
      <%= number_input f, :totalHours, value: @attendance.totalHours, class: "form-control form-control-sm" %>
    </div>
    <%= error_tag f, :totalHours %>
  </div>

  <%# <div class="form-group row"> %>
    <%#= label f, :time_zone, class: "col-2 col-form-label" do %>
      <%# Time Zone %>
    <%# end %>
    <%# <div class="col-3"> %>
      <%#= text_input f, :time_zone, class: "form-control form-control-sm" %>
    <%# </div> %>
    <%#= error_tag f, :time_zone %>
  <%# </div> %>

  <%# <div class="form-group row"> %>
    <%#= label f, :input_dateTimeIn, class: "col-2 col-form-label" do %>
      <%# Date/Time In %>
    <%# end %>
    <%# <div class="col-3"> %>
      <%#= datetime_local_input f, :input_dateTimeIn, value: datetime_local_input_format(@attendance.input_dateTimeIn), class: "form-control form-control-sm" %>
    <%# </div> %>
    <%#= error_tag f, :input_dateTimeIn %>
  <%# </div> %>

  <%# <div class="form-group row"> %>
    <%#= label f, :input_dateTimeOut, class: "col-2 col-form-label" do %>
      <%# Date/Time Out %>
    <%# end %>
    <%# <div class="col-3"> %>
      <%#= datetime_local_input f, :input_dateTimeOut, value: datetime_local_input_format(@attendance.input_dateTimeOut), class: "form-control form-control-sm" %>
    <%# </div> %>
    <%#= error_tag f, :input_dateTimeOut %>
  <%# </div> %>

  <%# <div class="form-group row"> %>
    <%#= label f, :workType, class: "col-2 col-form-label" do %>
      <%# Nature of Work %>
    <%# end %>
    <%# <div class="col-3"> %>
      <%#= text_input f, :workType, class: "form-control form-control-sm" %>
    <%# </div> %>
    <%#= error_tag f, :workType %>
  <%# </div> %>

  <%# <div class="form-group row"> %>
    <%#= label f, :workHours, class: "col-2 col-form-label" do %>
      <%# Hours Worked %>
    <%# end %>
    <%# <div class="col-3"> %>
      <%#= number_input f, :workHours, step: "any", class: "form-control form-control-sm" %>
    <%# </div> %>
    <%#= error_tag f, :workHours %>
  <%# </div> %>

  </div>
  </div>
<% end %>
