<div class="row">
  <%= render PortalWeb.SharedView, "sidebar.html" %>

  <div class="col-10 fixed-height px-2">
    <div class="container py-3">

    <h3>Attendances</h3>

    <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
        <div class="btn-group" role="group" aria-label="Standard Actions">
          <%= link "New Record", to: Routes.attendance_path(@conn, :new), class: "btn btn-outline-primary" %>
        </div>
      </div>

    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Emp Code</th>
          <th scope="col">Employee Name</th>
          <th scope="col">Date</th>
          <th scope="col">Time-In</th>
          <th scope="col">Time-Out</th>
          <th scope="col">Regular Hrs</th>
          <th scope="col">Overtime Hrs</th>
          <th scope="col">Leave Hrs</th>
          <th scope="col">Total Hrs</th>

          <th></th>
        </tr>
      </thead>
      <tbody>
    <%= for attendance <- @attendances do %>
        <tr>
          <td><%= get_employee_code(attendance.employee_id) %></td>
          <%#= format_display(attendance.input_dateTimeIn) %>
          <%#= format_display(attendance.input_dateTimeOut) %>
          <td><%= get_employee_name(attendance.employee_id) %></td>
          <td><%= format_date_display(attendance.dateIn) %></td>
          <td><%= format_time_display(attendance.timeIn) %></td>
          <td><%= format_time_display(attendance.timeOut) %></td>
          <td><%= attendance.regHours %></td>
          <td><%= attendance.otHours %></td>
          <td><%= attendance.leaveHours %></td>
          <td><%= attendance.totalHours %></td>

          <td>
            <span><%= link "Show", to: Routes.attendance_path(@conn, :show, attendance) %></span>
            <span><%= link "Edit", to: Routes.attendance_path(@conn, :edit, attendance) %></span>
            <span><%= link "Delete", to: Routes.attendance_path(@conn, :delete, attendance), method: :delete, data: [confirm: "Are you sure?"] %></span>
          </td>
        </tr>
    <% end %>
      </tbody>
    </table>

  <div>
  </div>
</div>
