<div class="row">
  <%= render PortalWeb.SharedView, "sidebar.html" %>

  <div class="col-10 fixed-height px-2">
    <div class="container py-3">

    <h3>View Attendance</h3>

    <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
      <div class="btn-group" role="group" aria-label="Standard Actions">
        <%= link "Back", to: Routes.attendance_path(@conn, :index), class: "btn btn-primary" %>
        <%= link "New", to: Routes.attendance_path(@conn, :new), class: "btn btn-primary" %>
        <%= link "Edit", to: Routes.attendance_path(@conn, :edit, @attendance), class: "btn btn-primary" %>
      </div>
    </div>

    <%= if get_flash(@conn, :info) do %>
      <div class="alert alert-info" role="alert">
        <%= get_flash(@conn, :info) %>
      </div>
    <% end %>

    <div class="card">
    <div class="card-body">

      <div class="form-group row">
        <label for="inputEmployeeCode" class="col-2 col-form-label">
          Employee Code
        </label>
        <div class="col-3">
          <select class="form-control form-control-sm" id="inputEmployeeCode" disabled>
            <%= for employee <- @map_selections.employees do %>
              <%= if employee.id == @attendance.employee_id do %>
                <option value="<%= employee.id %>" selected><%= employee.employeeCode %> - <%= employee.lastName %>, <%= employee.firstName %></option>
              <% else %>
                <option value="<%= employee.id %>"><%= employee.employeeCode %> - <%= employee.lastName %>, <%= employee.firstName %></option>
              <% end %>
            <% end %>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputDateIn" class="col-2 col-form-label">
          Date
        </label>
        <div class="col-3">
          <input type="text" class="form-control form-control-sm" id="inputDateIn" value="<%= format_date_display(@attendance.dateIn) %>" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputTimeIn" class="col-2 col-form-label">
          Time In
        </label>
        <div class="col-3">
          <input type="text" class="form-control form-control-sm" id="inputTimeIn" value="<%= format_time_display(@attendance.timeIn) %>" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputTimeOut" class="col-2 col-form-label">
          Time Out
        </label>
        <div class="col-3">
          <input type="text" class="form-control form-control-sm" id="inputTimeOut" value="<%= format_time_display(@attendance.timeOut) %>" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputRegHours" class="col-2 col-form-label">
          Regular Hours
        </label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" id="inputRegHours" value="<%= @attendance.regHours %>" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputOtHours" class="col-2 col-form-label">
          Overtime Hours
        </label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" id="inputOtHours" value="<%= @attendance.otHours %>" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputLeaveHours" class="col-2 col-form-label">
          Leave Hours
        </label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" id="inputLeaveHours" value="<%= @attendance.leaveHours %>" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputTotalHours" class="col-2 col-form-label">
          Total Hours
        </label>
        <div class="col-3">
          <input type="number" class="form-control form-control-sm" id="inputTotalHours" value="<%= @attendance.totalHours %>" disabled>
        </div>
      </div>

    </div>
    </div>

  </div>
  </div>
</div>
