<div class="row justify-content-center fixed-height">
<div class="col-4 align-self-center">

<div class="card">
<div class="card-body bg-light">

<h4>Register</h4>

<%= form_for @changeset, Routes.signup_path(@conn, :create), fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      Oops, something went wrong! Please check your provided information.
    </div>
  <% end %>

  <div class="form-group">
  <%= label f, :email %>
  <%= text_input f, :email, class: "form-control" %>
  <%= error_tag f, :email %>
  </div>

  <div class="form-group">
  <%= label f, :password %>
  <%= password_input f, :password, class: "form-control" %>
  <%= error_tag f, :password %>
  </div>

  <div class="form-group">
  <%= label f, :password_confirmation %>
  <%= password_input f, :password_confirmation, class: "form-control" %>
  <%= error_tag f, :password_confirmation %>
  </div>

  <div class="form-group">
    <%= link "Sign In", to: Routes.login_path(@conn, :new), class: "btn btn-outline-danger" %>
    <%= submit "Register", class: "btn btn-outline-primary" %>
  </div>
<% end %>

</div>
</div>

</div>
</div>
