<div class="row justify-content-center fixed-height">
<div class="col-4 align-self-center">

<div class="card">
<div class="card-body bg-light">

<h4>Sign In</h4>

<%= form_for @changeset, Routes.login_path(@conn, :create), fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      Invalid Login Credentials.
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :email %>
    <%= text_input f, :email, class: "form-control" %>
    <%= error_tag f, :email %>
  </div>

  <div class="form-group">
    <%= label f, :password %>
    <%= password_input f, :password, class: "form-control" %>
    <%= error_tag f, :password %>
  </div>

  <div class="form-group">
    <%= link "Register", to: Routes.signup_path(@conn, :new), class: "btn btn-outline-danger" %>
    <%= submit "Sign In", class: "btn btn-outline-primary" %>
  </div>
<% end %>

</div>
</div>

</div>
</div>
