<div class="col-2 fixed-height px-sm-0 border-right bg-light">
    <div class="list-group rounded-0">
        <a href="/" class="list-group-item list-group-item-action">Dashboard</a>

        <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#collapseProfiles" role="button" aria-expanded="false" aria-controls="collapseProfiles">Profiles</a>
        <div class="collapse" id="collapseProfiles">
            <div class="card card-body py-0 px-0">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/employees">Employees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Customers</a>
                    </li>
                </ul>
            </div>
        </div>

        <a href="/attendances" class="list-group-item list-group-item-action">Timekeeping</a>

        <a href="/payrolls" class="list-group-item list-group-item-action">Payroll</a>

        <a href="/claims" class="list-group-item list-group-item-action">Expense Claims</a>

        <a href="#" class="list-group-item list-group-item-action disabled">Reports</a>

        <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#collapseSettings" role="button" aria-expanded="false" aria-controls="collapseSettings">Settings</a>
        <div class="collapse" id="collapseSettings">
            <div class="card card-body py-0 px-0">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/countries">Countries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/departments">Departments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/positions">Positions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/leaves">Leaves</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/loansets">Loans</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
