<%= form_for @changeset, @action, fn f -> %>
  <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
    <div class="btn-group" role="group" aria-label="Standard Actions">
      <%= link "Back", to: Routes.loan_path(@conn, :index), class: "btn btn-primary" %>
      <%= link "New", to: Routes.loan_path(@conn, :new), class: "btn btn-primary" %>
      <%= submit "Save", class: "btn btn-primary" %>
    </div>
  </div>

  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      Oops, something went wrong! Please check the errors below.
    </div>
  <% end %>

  <div class="row">
  <div class="col-6">
  <div class="card">
  <div class="card-body">

  <div class="form-group row">
    <%= label f, :employee_id, class: "col-4 col-form-label" do %>
      Employee Code
    <% end %>
    <div class="col-6">
      <%= text_input f, :employee_id, class: "form-control form-control-sm" %>
    </div>
    <%= error_tag f, :employee_id %>
  </div>

  <div class="form-group row">
    <%= label f, :loanID, class: "col-4 col-form-label" do %>
      Loan Type
    <% end %>
    <div class="col-6">
      <%= text_input f, :loanID, class: "form-control form-control-sm" %>
    </div>
    <%= error_tag f, :loanID %>
  </div>

  <div class="form-group row">
    <%= label f, :principal, class: "col-4 col-form-label" do %>
      Principal Amount
    <% end %>
    <div class="col-6">
      <%= number_input f, :principal, class: "form-control form-control-sm" %>
    </div>
    <%= error_tag f, :principal %>
  </div>

  <div class="form-group row">
    <%= label f, :monthlyPaymentDate, class: "col-4 col-form-label" do %>
      Payment Date
    <% end %>
    <div class="col-6">
      <%= date_input f, :monthlyPaymentDate, class: "form-control form-control-sm" %>
    </div>
    <%= error_tag f, :monthlyPaymentDate %>
  </div>

  <div class="form-group row">
    <%= label f, :amount, class: "col-4 col-form-label" do %>
      Amount
    <% end %>
    <div class="col-6">
      <%= number_input f, :amount, class: "form-control form-control-sm" %>
    </div>
    <%= error_tag f, :amount %>
  </div>

  <div class="form-group row">
    <%= label f, :interest, class: "col-4 col-form-label" do %>
      Interest
    <% end %>
    <div class="col-6">
      <%= text_input f, :interest, class: "form-control form-control-sm" %>
    </div>
    <%= error_tag f, :interest %>
  </div>

  <div class="form-group row">
    <%= label f, :amountDue, class: "col-4 col-form-label" do %>
      Amount Due
    <% end %>
    <div class="col-6">
      <%= text_input f, :amountDue, class: "form-control form-control-sm" %>
    </div>
    <%= error_tag f, :amountDue %>
  </div>

  <div class="form-group row">
    <%= label f, :amountPaid, class: "col-4 col-form-label" do %>
      Amount Paid
    <% end %>
    <div class="col-6">
      <%= text_input f, :amountPaid, class: "form-control form-control-sm" %>
    </div>
    <%= error_tag f, :amountPaid %>
  </div>

  </div>
  </div>

  </div>
  </div>
<% end %>
