<div class="row">
  <%= render PortalWeb.SharedView, "sidebar.html" %>

  <div class="col-10 fixed-height px-2">
  <div class="container py-3">

    <h3>List of Employee Loans</h3>

    <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
        <div class="btn-group" role="group" aria-label="Standard Actions">
          <%= link "New Record", to: Routes.loan_path(@conn, :new), class: "btn btn-outline-primary" %>
        </div>
      </div>

  <%= if get_flash(@conn, :info) do %>
    <div class="alert alert-info" role="alert">
      <%= get_flash(@conn, :info) %>
    </div>
  <% end %>

    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Loan Type</th>
          <th scope="col">Principal Amount</th>
          <th scope="col">Payment Date</th>
          <th scope="col">Amount</th>
          <th scope="col">Interest</th>
          <th scope="col">Amount Due</th>
          <th scope="col">Amount Paid</th>

          <th></th>
        </tr>
      </thead>
      <tbody>
    <%= for loan <- @loans do %>
        <tr>
          <td><%= loan.loanID %></td>
          <td><%= loan.principal %></td>
          <td><%= loan.monthlyPaymentDate %></td>
          <td><%= loan.amount %></td>
          <td><%= loan.interest %></td>
          <td><%= loan.amountDue %></td>
          <td><%= loan.amountPaid %></td>

          <td>
            <span><%= link "View", to: Routes.loan_path(@conn, :show, loan) %></span>
            <span><%= link "Edit", to: Routes.loan_path(@conn, :edit, loan) %></span>
            <span><%= link "Delete", to: Routes.loan_path(@conn, :delete, loan), method: :delete, data: [confirm: "Are you sure?"] %></span>
          </td>
        </tr>
    <% end %>
      </tbody>
    </table>

  </div>
  </div>
</div>
