<div class="row">
  <%= render PortalWeb.SharedView, "sidebar.html" %>

  <div class="col-10 fixed-height px-2">
    <div class="container py-3">

    <h3>View Loan</h3>

    <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
      <div class="btn-group" role="group" aria-label="Standard Actions">
        <%= link "Back", to: Routes.loan_path(@conn, :index), class: "btn btn-primary" %>
        <%= link "New", to: Routes.loan_path(@conn, :new), class: "btn btn-primary" %>
        <%= link "Edit", to: Routes.loan_path(@conn, :edit, @loan), class: "btn btn-primary" %>
      </div>
    </div>

    <%= if get_flash(@conn, :info) do %>
      <div class="alert alert-info" role="alert">
        <%= get_flash(@conn, :info) %>
      </div>
    <% end %>

    <div class="row">
    <div class="col-6">

    <div class="card">
    <div class="card-body">

    <div class="form-group row">
      <label for="inputEmployeeCode" class="col-4 col-form-label">
        Employee Code
      </label>
      <div class="col-6">
        <input type="text" class="form-control form-control-sm" id="inputEmployeeCode" value="<%= @loan.employee_id %>" disabled>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputLoanID" class="col-4 col-form-label">
        Loan Type
      </label>
      <div class="col-6">
        <input type="text" class="form-control form-control-sm" id="inputLoanID" value="<%= @loan.loanID %>" disabled>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPrincipal" class="col-4 col-form-label">
        Principal Amount
      </label>
      <div class="col-6">
        <input type="text" class="form-control form-control-sm" id="inputPrincipal" value="<%= @loan.principal %>" disabled>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputMonthlyPaymentDate" class="col-4 col-form-label">
        Payment Date
      </label>
      <div class="col-6">
        <input type="text" class="form-control form-control-sm" id="inputMonthlyPaymentDate" value="<%= @loan.monthlyPaymentDate %>" disabled>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputAmount" class="col-4 col-form-label">
        Amount
      </label>
      <div class="col-6">
        <input type="text" class="form-control form-control-sm" id="inputAmount" value="<%= @loan.amount %>" disabled>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputInterest" class="col-4 col-form-label">
        Interest
      </label>
      <div class="col-6">
        <input type="text" class="form-control form-control-sm" id="inputInterest" value="<%= @loan.interest %>" disabled>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputAmountDue" class="col-4 col-form-label">
        Amount Due
      </label>
      <div class="col-6">
        <input type="text" class="form-control form-control-sm" id="inputAmountDue" value="<%= @loan.amountDue %>" disabled>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputAmountPaid" class="col-4 col-form-label">
        Amount Paid
      </label>
      <div class="col-6">
        <input type="text" class="form-control form-control-sm" id="inputAmountPaid" value="<%= @loan.amountPaid %>" disabled>
      </div>
    </div>

    </div>
    </div>

    </div>
    </div>

  </div>
  </div>
</div>
