/* This file is for your main application css. */
// @import "./phoenix.css";
// @import "~bootstrap/scss/bootstrap";

@import "custom";
@import '../node_modules/bootstrap/scss/bootstrap';

/* Alerts and form errors */
/* .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
} */

/* User defined CSS */

// .fixed-height {
//   height: 100vh;
//   overflow-y: auto;
//   padding-top: 56px;
// }

