<h1>Edit Claim detail</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.claim_detail_path(@conn, :update, @claim_detail)) %>

<span><%= link "Back", to: Routes.claim_detail_path(@conn, :index) %></span>
