<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :expenseClaimNbr %>
  <%= text_input f, :expenseClaimNbr %>
  <%= error_tag f, :expenseClaimNbr %>

  <%= label f, :expenseType %>
  <%= text_input f, :expenseType %>
  <%= error_tag f, :expenseType %>

  <%= label f, :description %>
  <%= text_input f, :description %>
  <%= error_tag f, :description %>

  <%= label f, :lineAmt %>
  <%= number_input f, :lineAmt, step: "any" %>
  <%= error_tag f, :lineAmt %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
