<div class="row">
  <%= render PortalWeb.SharedView, "sidebar.html" %>

  <div class="col-10 fixed-height px-0">
    <div class="container py-2 bg-light">

    <h5>Expense Claim Details</h5>

    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Expense Type</th>
          <th scope="col">Description</th>
          <th scope="col">Amt</th>

          <th></th>
        </tr>
      </thead>
      <tbody>
    <%= for claim_detail <- @claim_details do %>
        <tr>
          <td><%= claim_detail.expenseType %></td>
          <td><%= claim_detail.description %></td>
          <td><%= claim_detail.lineAmt %></td>

          <td>
            <span><%= link "Show", to: Routes.claim_detail_path(@conn, :show, claim_detail) %></span>
            <span><%= link "Edit", to: Routes.claim_detail_path(@conn, :edit, claim_detail) %></span>
            <span><%= link "Delete", to: Routes.claim_detail_path(@conn, :delete, claim_detail), method: :delete, data: [confirm: "Are you sure?"] %></span>
          </td>
        </tr>
    <% end %>
      </tbody>
    </table>

    <span><%= link "New Claim detail", to: Routes.claim_detail_path(@conn, :new) %></span>

  </div>
  </div>
</div>
