<h1>New Claim detail</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.claim_detail_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.claim_detail_path(@conn, :index) %></span>
