<h1>Show Claim detail</h1>

<ul>

  <li>
    <strong>Expenseclaimnbr:</strong>
    <%= @claim_detail.expenseClaimNbr %>
  </li>

  <li>
    <strong>Expensetype:</strong>
    <%= @claim_detail.expenseType %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @claim_detail.description %>
  </li>

  <li>
    <strong>Lineamt:</strong>
    <%= @claim_detail.lineAmt %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.claim_detail_path(@conn, :edit, @claim_detail) %></span>
<span><%= link "Back", to: Routes.claim_detail_path(@conn, :index) %></span>
