<div class="row">
  <%= render PortalWeb.SharedView, "sidebar.html" %>

  <div class="col-10 fixed-height px-2">
  <div class="container py-3">

    <h3>Edit Claim</h3>

    <%= render "form.html", Map.put(assigns, :action, Routes.claim_path(@conn, :update, @claim)) %>

  </div>
  </div>
</div>
