<%= form_for @changeset, @action, fn f -> %>
  <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
    <div class="btn-group" role="group" aria-label="Standard Actions">
      <%= link "Back", to: Routes.claim_path(@conn, :index), class: "btn btn-primary" %>
      <%= link "New", to: Routes.claim_path(@conn, :new), class: "btn btn-primary" %>
      <%= submit "Save", class: "btn btn-primary" %>
    </div>
  </div>

  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      Oops, something went wrong! Please check the errors below.
    </div>
  <% end %>

  <div class="card">
  <div class="card-body">

    <div class="row">

      <div class="col-6">
        <div class="form-group row">
          <%= label f, :expenseClaimNbr, class: "col-4 col-form-label" do %>
            Claim Nbr
          <% end %>
          <div class="col-6">
            <%= text_input f, :expenseClaimNbr, class: "form-control form-control-sm" %>
          </div>
          <%= error_tag f, :expenseClaimNbr %>
        </div>

        <div class="form-group row">
          <%= label f, :empCode, class: "col-4 col-form-label" do %>
            Employee Code
          <% end %>
          <div class="col-6">
            <%= text_input f, :empCode, class: "form-control form-control-sm" %>
          </div>
          <%= error_tag f, :empCode %>
        </div>

        <div class="form-group row">
          <%= label f, :description, class: "col-4 col-form-label" do %>
            Description
          <% end %>
          <div class="col-6">
            <%= text_input f, :description, class: "form-control form-control-sm" %>
          </div>
          <%= error_tag f, :description %>
        </div>

        <div class="form-group row">
          <%= label f, :docDate, class: "col-4 col-form-label" do %>
            Doc Date
          <% end %>
          <div class="col-6">
            <%= date_input f, :docDate, class: "form-control form-control-sm" %>
          </div>
          <%= error_tag f, :docDate %>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group row">
          <%= label f, :status, class: "col-4 col-form-label" do %>
            Status
          <% end %>
          <div class="col-6">
            <%= text_input f, :status, class: "form-control form-control-sm" %>
          </div>
          <%= error_tag f, :status %>
        </div>

        <div class="form-group row">
          <%= label f, :expenseClaimDate, class: "col-4 col-form-label" do %>
            Claim Date
          <% end %>
          <div class="col-6">
            <%= date_input f, :expenseClaimDate, class: "form-control form-control-sm" %>
          </div>
          <%= error_tag f, :expenseClaimDate %>
        </div>

        <div class="form-group row">
          <%= label f, :totalAmt, class: "col-4 col-form-label" do %>
            Total Amt
          <% end %>
          <div class="col-6">
            <%= number_input f, :totalAmt, step: "any", class: "form-control form-control-sm" %>
          </div>
          <%= error_tag f, :totalAmt %>
        </div>
      </div>

    </div>


  </div>
  </div>

<% end %>
