<div class="row">
  <%= render PortalWeb.SharedView, "sidebar.html" %>

  <div class="col-10 fixed-height px-2">
  <div class="container py-3">

    <h3>Expense Claims</h3>

    <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
      <div class="btn-group" role="group" aria-label="Standard Actions">
        <%= link "New Record", to: Routes.claim_path(@conn, :new), class: "btn btn-outline-primary" %>
      </div>
    </div>

    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Emp Code</th>
          <th scope="col">Claim Nbr</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Expense Claim Date</th>
          <th scope="col">Total Amt</th>

          <th></th>
        </tr>
      </thead>
      <tbody>
    <%= for claim <- @claims do %>
        <tr>
          <td><%= claim.empCode %></td>
          <td><%= claim.expenseClaimNbr %></td>
          <td><%= claim.description %></td>
          <td><%= claim.status %></td>
          <td><%= format_display(claim.expenseClaimDate) %></td>
          <td><%= claim.totalAmt %></td>

          <td>
            <span><%= link "Show", to: Routes.claim_path(@conn, :show, claim) %></span>
            <span><%= link "Edit", to: Routes.claim_path(@conn, :edit, claim) %></span>
            <span><%= link "Delete", to: Routes.claim_path(@conn, :delete, claim), method: :delete, data: [confirm: "Are you sure?"] %></span>
          </td>
        </tr>
    <% end %>
      </tbody>
    </table>

  </div>
  </div>
</div>
