<div class="row">
  <%= render PortalWeb.SharedView, "sidebar.html" %>

  <div class="col-10 fixed-height px-2">
  <div class="container py-3">

    <h3>Show Claim</h3>

    <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
      <div class="btn-group" role="group" aria-label="Standard Actions">
        <%= link "Back", to: Routes.claim_path(@conn, :index), class: "btn btn-primary" %>
        <%= link "New", to: Routes.claim_path(@conn, :new), class: "btn btn-primary" %>
        <%= link "Edit", to: Routes.claim_path(@conn, :edit, @claim), class: "btn btn-primary" %>
      </div>
    </div>

    <%= if get_flash(@conn, :info) do %>
      <div class="alert alert-info" role="alert">
        <%= get_flash(@conn, :info) %>
      </div>
    <% end %>

    <div class="card">
    <div class="card-body">

      <div class="row">

        <div class="col-6">

          <div class="form-group row">
            <label for="expenseClaimNbr" class="col-4 col-form-label">
              Claim Nbr
            </label>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" id="expenseClaimNbr" value="<%= @claim.expenseClaimNbr %>" disabled />
            </div>
          </div>

          <div class="form-group row">
            <label for="empCode" class="col-4 col-form-label">
              Employee Code
            </label>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" id="empCode" value="<%= @claim.empCode %>" disabled />
            </div>
          </div>

          <div class="form-group row">
            <label for="description" class="col-4 col-form-label">
              Description
            </label>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" id="description" value="<%= @claim.description %>" disabled />
            </div>
          </div>

          <div class="form-group row">
            <label for="docDate" class="col-4 col-form-label">
              Doc Date
            </label>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" id="docDate" value="<%= format_display(@claim.docDate) %>" disabled />
            </div>
          </div>

        </div>

        <div class="col-6">

          <div class="form-group row">
            <label for="status" class="col-4 col-form-label">
              Status
            </label>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" id="status" value="<%= @claim.status %>" disabled />
            </div>
          </div>

          <div class="form-group row">
            <label for="expenseClaimDate" class="col-4 col-form-label">
              Claim Date
            </label>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" id="expenseClaimDate" value="<%= format_display(@claim.expenseClaimDate) %>" disabled />
            </div>
          </div>

          <div class="form-group row">
            <label for="totalAmt" class="col-4 col-form-label">
              Total Amt
            </label>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm" id="totalAmt" value="<%= @claim.totalAmt %>" disabled />
            </div>
          </div>

        </div>

    </div>
    </div>

  </div>
  </div>
</div>
