<div class="row">
  <%= if Pow.Plug.current_user(@conn) do %>
    <%= render PortalWeb.SharedView, "sidebar.html" %>

    <div class="col-10 fixed-height px-2">
      <div class="container py-3 bg-light">
        <%= render PortalWeb.DashboardView, "dashboard.html" %>
      </div>
    </div>
  <% else %>
    <div class="col-12 px-2 fixed-height bg-light">
      <%#= render PortalWeb.DashboardView, "dashboard.html" %>
      <h1>Not Yet Logged In<h1>
    </div>
  <% end %>
</div>
