<%= form_for @changeset, @action, fn f -> %>
  <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
    <div class="btn-group" role="group" aria-label="Standard Actions">
      <%= link "Back", to: Routes.payroll_path(@conn, :index), class: "btn btn-primary" %>
      <%= link "New", to: Routes.payroll_path(@conn, :new), class: "btn btn-primary" %>
      <%= submit "Save", class: "btn btn-primary" %>
    </div>
  </div>

  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      Oops, something went wrong! Please check the errors below.
    </div>
  <% end %>

  <div class="card">
  <div class="card-body">

  <div class="row">

    <div class="col-6">
      <div class="form-group row">
        <%= label f, :status, class: "col-4 col-form-label" do %>
          Status
        <% end %>
        <div class="col-6">
          <%= text_input f, :status, class: "form-control form-control-sm" %>
        </div>
        <%= error_tag f, :status %>
      </div>

      <div class="form-group row">
        <%= label f, :payrollCode, class: "col-4 col-form-label" do %>
          Payroll Code
        <% end %>
        <div class="col-6">
          <%= text_input f, :payrollCode, class: "form-control form-control-sm" %>
        </div>
        <%= error_tag f, :payrollCode %>
      </div>

      <div class="form-group row">
        <%= label f, :empCode, class: "col-4 col-form-label" do %>
          Employee Code
        <% end %>
        <div class="col-6">
          <%= text_input f, :empCode, class: "form-control form-control-sm" %>
        </div>
        <%= error_tag f, :empCode %>
      </div>

      <div class="form-group row">
        <%= label f, :beginningDate, class: "col-4 col-form-label" do %>
          Beginning Date
        <% end %>
        <div class="col-6">
          <%= date_input f, :beginningDate, class: "form-control form-control-sm" %>
        </div>
        <%= error_tag f, :beginningDate %>
      </div>

      <div class="form-group row">
        <%= label f, :cutoffDate, class: "col-4 col-form-label" do %>
          Cut-Off Date
        <% end %>
        <div class="col-6">
          <%= date_input f, :cutoffDate, class: "form-control form-control-sm" %>
        </div>
        <%= error_tag f, :cutoffDate %>
      </div>

      <div class="form-group row">
        <%= label f, :bonus, class: "col-4 col-form-label" do %>
          Bonus
        <% end %>
        <div class="col-6">
          <%= number_input f, :bonus, step: "any", class: "form-control form-control-sm" %>
        </div>
        <%= error_tag f, :bonus %>
      </div>

      <div class="form-group row">
        <%= label f, :thirteenthMonth, class: "col-4 col-form-label" do %>
          Thirteenth Month
        <% end %>
        <div class="col-6">
          <%= number_input f, :thirteenthMonth, step: "any", class: "form-control form-control-sm" %>
        </div>
        <%= error_tag f, :thirteenthMonth %>
      </div>

    </div>

    <div class="col-6">
      <div class="form-group row">
        <%= label f, :allowances, class: "col-4 col-form-label" do %>
          Allowances
        <% end %>
        <div class="col-6">
          <%= number_input f, :allowances, step: "any", class: "form-control form-control-sm" %>
        </div>
        <%= error_tag f, :allowances %>
      </div>

      <div class="form-group row">
        <%= label f, :commission, class: "col-4 col-form-label" do %>
          Commission
        <% end %>
        <div class="col-6">
          <%= number_input f, :commission, step: "any", class: "form-control form-control-sm" %>
        </div>
        <%= error_tag f, :commission %>
      </div>

      <div class="form-group row">
        <%= label f, :tardiness, class: "col-4 col-form-label" do %>
          Tardiness
        <% end %>
        <div class="col-6">
          <%= number_input f, :tardiness, step: "any", class: "form-control form-control-sm" %>
        </div>
        <%= error_tag f, :tardiness %>
      </div>

      <div class="form-group row">
        <%= label f, :absences, class: "col-4 col-form-label" do %>
          Absences
        <% end %>
        <div class="col-6">
          <%= number_input f, :absences, step: "any", class: "form-control form-control-sm" %>
        </div>
        <%= error_tag f, :absences %>
      </div>

      <div class="form-group row">
        <%= label f, :loan, class: "col-4 col-form-label" do %>
          Loans
        <% end %>
        <div class="col-6">
          <%= number_input f, :loan, step: "any", class: "form-control form-control-sm" %>
        </div>
        <%= error_tag f, :loan %>
      </div>

      <div class="form-group row">
        <%= label f, :cashAdvances, class: "col-4 col-form-label" do %>
          Cash Advances
        <% end %>
        <div class="col-6">
          <%= number_input f, :cashAdvances, step: "any", class: "form-control form-control-sm" %>
        </div>
        <%= error_tag f, :cashAdvances %>
      </div>
    </div>

  </div>

  </div>
  </div>

<% end %>
