<div class="row">
  <%= render PortalWeb.SharedView, "sidebar.html" %>

  <div class="col-10 fixed-height px-2">
    <div class="container py-3">

    <h3>Payroll</h3>

    <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
      <div class="btn-group" role="group" aria-label="Standard Actions">
        <%= link "New Recrod", to: Routes.payroll_path(@conn, :new), class: "btn btn-outline-primary" %>
      </div>
    </div>

    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Emp Code</th>
          <th scope="col">Payroll Code</th>
          <th scope="col">Cut-Off Date</th>
          <th scope="col">Status</th>

          <th></th>
        </tr>
      </thead>
      <tbody>
    <%= for payroll <- @payrolls do %>
        <tr>
          <td><%= payroll.empCode %></td>
          <td><%= payroll.payrollCode %></td>
          <td><%= format_display(payroll.cutoffDate) %></td>
          <td><%= payroll.status %></td>

          <td>
            <span><%= link "Show", to: Routes.payroll_path(@conn, :show, payroll) %></span>
            <span><%= link "Edit", to: Routes.payroll_path(@conn, :edit, payroll) %></span>
            <span><%= link "Delete", to: Routes.payroll_path(@conn, :delete, payroll), method: :delete, data: [confirm: "Are you sure?"] %></span>
          </td>
        </tr>
    <% end %>
      </tbody>
    </table>

  </div>
  </div>
</div>
