<div class="row">
  <%= render PortalWeb.SharedView, "sidebar.html" %>

  <div class="col-10 fixed-height px-2">
  <div class="container py-3">

    <h3>View Payroll</h3>

    <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
      <div class="btn-group" role="group" aria-label="Standard Actions">
        <%= link "Back", to: Routes.payroll_path(@conn, :index), class: "btn btn-primary" %>
        <%= link "New", to: Routes.payroll_path(@conn, :new), class: "btn btn-primary" %>
        <%= link "Edit", to: Routes.payroll_path(@conn, :edit, @payroll), class: "btn btn-primary" %>
      </div>
    </div>

    <%= if get_flash(@conn, :info) do %>
      <div class="alert alert-info" role="alert">
        <%= get_flash(@conn, :info) %>
      </div>
    <% end %>

    <div class="card">
    <div class="card-body">

      <div class="row">

        <div class="col-6">
          <div class="form-group row">
            <label for="empCode" class="col-4 col-form-label">
              Employee Code
            </label>
            <div class="col-6">
              <input id="empCode" type="text" value="<%= @payroll.empCode %>" class="form-control form-control-sm" disabled />
            </div>
          </div>

          <div class="form-group row">
            <label for="payrollCode" class="col-4 col-form-label">
              Payroll Code
            </label>
            <div class="col-6">
              <input id="payrollCode" type="text" value="<%= @payroll.payrollCode %>" class="form-control form-control-sm" disabled />
            </div>
          </div>

          <div class="form-group row">
            <label for="beginningDate" class="col-4 col-form-label">
              Beginning Date
            </label>
            <div class="col-6">
              <input id="beginningDate" type="text" value="<%= format_display(@payroll.beginningDate) %>" class="form-control form-control-sm" disabled />
            </div>
          </div>

          <div class="form-group row">
            <label for="cutoffDate" class="col-4 col-form-label">
              Cut-Off Date
            </label>
            <div class="col-6">
              <input id="cutoffDate" type="text" value="<%= format_display(@payroll.cutoffDate) %>" class="form-control form-control-sm" disabled />
            </div>
          </div>

          <div class="form-group row">
            <label for="status" class="col-4 col-form-label">
              Payroll Status
            </label>
            <div class="col-6">
              <input id="status" type="text" value="<%= @payroll.status %>" class="form-control form-control-sm" disabled />
            </div>
          </div>

          <div class="form-group row">
            <label for="bonus" class="col-4 col-form-label">
              Bonus
            </label>
            <div class="col-6">
              <input id="bonus" type="text" value="<%= @payroll.bonus %>" class="form-control form-control-sm" disabled />
            </div>
          </div>

          <div class="form-group row">
            <label for="thirteenthMonth" class="col-4 col-form-label">
              Thirteenth(13th) Month
            </label>
            <div class="col-6">
              <input id="thirteenthMonth" type="text" value="<%= @payroll.thirteenthMonth %>" class="form-control form-control-sm" disabled />
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group row">
            <label for="allowances" class="col-4 col-form-label">
              Allowances
            </label>
            <div class="col-6">
              <input id="allowances" type="text" value="<%= @payroll.allowances %>" class="form-control form-control-sm" disabled />
            </div>
          </div>

          <div class="form-group row">
            <label for="commission" class="col-4 col-form-label">
              Commission
            </label>
            <div class="col-6">
              <input id="commission" type="text" value="<%= @payroll.commission %>" class="form-control form-control-sm" disabled />
            </div>
          </div>

          <div class="form-group row">
            <label for="tardiness" class="col-4 col-form-label">
              Tardiness
            </label>
            <div class="col-6">
              <input id="tardiness" type="text" value="<%= @payroll.tardiness %>" class="form-control form-control-sm" disabled />
            </div>
          </div>

          <div class="form-group row">
            <label for="absences" class="col-4 col-form-label">
              Absences
            </label>
            <div class="col-6">
              <input id="absences" type="text" value="<%= @payroll.absences %>" class="form-control form-control-sm" disabled />
            </div>
          </div>

          <div class="form-group row">
            <label for="loan" class="col-4 col-form-label">
              Loans
            </label>
            <div class="col-6">
              <input id="loan" type="text" value="<%= @payroll.loan %>" class="form-control form-control-sm" disabled />
            </div>
          </div>

          <div class="form-group row">
            <label for="cashAdvances" class="col-4 col-form-label">
              Cash Advances
            </label>
            <div class="col-6">
              <input id="cashAdvances" type="text" value="<%= @payroll.cashAdvances %>" class="form-control form-control-sm" disabled />
            </div>
          </div>

        </div>

      </div>
    </div>
    </div>

  </div>
  </div>
</div>
