<div class="row">
  <%= render PortalWeb.SharedView, "sidebar.html" %>

  <div class="col-10 fixed-height px-2">
    <div class="container py-3">

    <h3>Edit Employee Leave</h3>

    <%= render "form.html", Map.put(assigns, :action, Routes.employee_empleave_path(@conn, :update, @empleave.employee_id, @empleave.id)) %>

    </div>
  </div>
</div>
