<%= form_for @changeset, @action, fn f -> %>
  <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
    <div class="btn-group" role="group" aria-label="Standard Actions">
      <%= if assigns[:empleave] do %>
      <%= link "Back", to: Routes.employee_path(@conn, :edit, @empleave.employee_id), class: "btn btn-primary" %>
      <%= link "New", to: Routes.employee_empleave_path(@conn, :new, @empleave.employee_id), class: "btn btn-primary" %>
      <% else %>
      <%= link "Back", to: Routes.employee_path(@conn, :edit, @changeset.changes.employee_id), class: "btn btn-primary" %>
      <%= link "New", to: Routes.employee_empleave_path(@conn, :new, @changeset.changes.employee_id), class: "btn btn-primary" %>
      <% end %>
      <%= submit "Save", class: "btn btn-primary" %>
    </div>
  </div>

  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      Oops, something went wrong! Please check the errors below.
    </div>
  <% end %>

  <div class="row">
  <div class="col-6">
    <div class="card">
    <div class="card-body">

    <div class="form-group row">
      <%= label f, :employee_id, class: "col-4 col-form-label" do %>
        Employee Code
      <% end %>
      <div class="col-6">
        <%= text_input f, :employee_id, class: "form-control form-control-sm" %>
      </div>
      <%= error_tag f, :employee_id %>
    </div>

    <div class="form-group row">
      <%= label f, :leaveType, class: "col-4 col-form-label" do %>
        Leave Type
      <% end %>
      <div class="col-6">
        <%#= text_input f, :leaveType, class: "form-control form-control-sm" %>
        <%= select f, :leaveType, Enum.map(@map_selections.leaves, &{&1.name, &1.name}), prompt: "Select Leave Type", class: "form-control form-control-sm" %>
      </div>
      <%= error_tag f, :leaveType %>
    </div>

    <div class="form-group row">
      <%= label f, :leaveQty, class: "col-4 col-form-label" do %>
        Leave Qty
      <% end %>
      <div class="col-6">
        <%= number_input f, :leaveQty, class: "form-control form-control-sm" %>
      </div>
      <%= error_tag f, :leaveQty %>
    </div>

    </div>
    </div>

  </div>
  </div>

<% end %>
