<div class="row">
  <div class="col-10 fixed-height px-2">
    <div class="container py-3">

    <h4>Employee Leaves</h4>

    <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
        <div class="btn-group" role="group" aria-label="Standard Actions">
          <%= if assigns[:employee] do %>
          <%= link "New Record", to: Routes.employee_empleave_path(@conn, :new, @employee.id), class: "btn btn-outline-primary btn-sm" %>
          <% else %>
          <button type="button" class="btn btn-outline-primary btn-sm" disabled data-toggle="tooltip" data-placement="top" title="No Selected Employee">New Record</button>
          <% end %>
        </div>
    </div>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Leave Type</th>
      <th scope="col">Leave Qty</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= if Enumerable.impl_for @emp_leaves do %>
<%= for empleave <- @emp_leaves do %>
    <tr>
      <td><%= empleave.leaveType %></td>
      <td><%= empleave.leaveQty %></td>

      <td>
        <span><%= link "Show", to: Routes.employee_empleave_path(@conn, :show, @employee.id, empleave.id) %></span>
        <span><%= link "Edit", to: Routes.employee_empleave_path(@conn, :edit, @employee.id, empleave.id) %></span>
        <span><%= link "Delete", to: Routes.employee_empleave_path(@conn, :delete, @employee.id, empleave.id), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
<% end %>
  </tbody>
</table>

  </div>
  </div>
</div>
