<div class="row">
  <div class="col-10 fixed-height px-2">
    <div class="container py-3">

    <h4>Employee Leaves</h4>

    <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
        <div class="btn-group" role="group" aria-label="Standard Actions">
          <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="top" title="Adding of Leaves is Disabled">
            <button type="button" class="btn btn-outline-primary btn-sm" disabled>Records</button>
          </span>
        </div>
    </div>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Leave Type</th>
      <th scope="col">Leave Qty</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= if Enumerable.impl_for @emp_leaves do %>
<%= for empleave <- @emp_leaves do %>
    <tr>
      <td><%= empleave.leaveType %></td>
      <td><%= empleave.leaveQty %></td>

    </tr>
<% end %>
<% end %>
  </tbody>
</table>

  </div>
  </div>
</div>
