<div class="row">
  <%= render PortalWeb.SharedView, "sidebar.html" %>

  <div class="col-10 fixed-height px-2">
    <div class="container py-3">

    <h3>View Employee Leave</h3>

    <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
      <div class="btn-group" role="group" aria-label="Standard Actions">
        <%= link "Back", to: Routes.employee_path(@conn, :edit, @empleave.employee_id), class: "btn btn-primary" %>
        <%= link "New", to: Routes.employee_empleave_path(@conn, :new, @empleave.employee_id), class: "btn btn-primary" %>
        <%= link "Edit", to: Routes.employee_empleave_path(@conn, :edit, @empleave.employee_id, @empleave.id), class: "btn btn-primary" %>
      </div>
    </div>

  <div class="row">
  <div class="col-6">
    <div class="card">
    <div class="card-body">

    <div class="form-group row">
      <label for="inputEmpCode" class="col-4 col-form-label">
        Employee Code
      </label>
      <div class="col-6">
        <input type="text" class="form-control form-control-sm" id="inputEmpCode" value="<%= @empleave.employee_id %>" disabled>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputLeaveType" class="col-4 col-form-label">
        Leave Type
      </label>
      <div class="col-6">
        <select class="form-control form-control-sm" id="inputLeaveType" disabled>
          <%= for leave <- @map_selections.leaves do %>
            <%= if leave.name == @empleave.leaveType do %>
              <option value="<%= leave.name %>" selected><%= leave.name %></option>
            <% else %>
              <option value="<%= leave.name %>"><%= leave.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputLeaveQty" class="col-4 col-form-label">
        Leave Qty
      </label>
      <div class="col-6">
        <input type="text" class="form-control form-control-sm" id="inputLeaveQty" value="<%= @empleave.leaveQty %>" disabled>
      </div>
    </div>

    </div>
    </div>

  </div>
  </div>

    </div>
  </div>
</div>
