<div class="row justify-content-center fixed-height">
<div class="col-4 align-self-center bg-light border border-dark">

<h4>Register</h4>

<%= form_for @changeset, @action, [as: :user], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
  <%= label f, Pow.Ecto.Schema.user_id_field(@changeset) %>
  <%= text_input f, Pow.Ecto.Schema.user_id_field(@changeset), class: "form-control" %>
  <%= error_tag f, Pow.Ecto.Schema.user_id_field(@changeset) %>
  </div>

  <div class="form-group">
  <%= label f, :password %>
  <%= password_input f, :password, class: "form-control" %>
  <%= error_tag f, :password %>
  </div>

  <div class="form-group">
  <%= label f, :password_confirmation %>
  <%= password_input f, :password_confirmation, class: "form-control" %>
  <%= error_tag f, :password_confirmation %>
  </div>

  <div class="form-group">
    <%= link "Sign In", to: Routes.pow_session_path(@conn, :new), class: "btn btn-outline-danger" %>
    <%= submit "Register", class: "btn btn-outline-primary" %>
  </div>
<% end %>

</div>
</div>
