<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Portal</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <nav class="navbar fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Portal</a>
        <form class="form-inline">
          <%= if Pow.Plug.current_user(@conn) do %>
            <span class="navbar-text mr-sm-2">
              <%= @current_user.email %>
            </span>
            <%= button "Sign Out", to: Routes.logout_path(@conn, :delete), method: :delete, class: "btn btn-outline-success my-2 my-sm-0" %>
          <% else %>
            <%= link "Register", to: Routes.signup_path(@conn, :new), class: "btn btn-outline-success my-2 my-sm-0 mr-sm-2" %>
            <%= link "Sign In", to: Routes.login_path(@conn, :new), class: "btn btn-outline-success my-2 my-sm-0" %>
          <% end %>
        </form>
      </nav>
    </header>

    <div class="container-fluid">
      <%= @inner_content %>
    </div>

    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

  </body>
</html>
