<%= form_for @changeset, @action, fn f -> %>
  <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
    <div class="btn-group" role="group" aria-label="Standard Actions">
      <%= link "Back", to: Routes.leave_path(@conn, :index), class: "btn btn-primary" %>
      <%= link "New", to: Routes.leave_path(@conn, :new), class: "btn btn-primary" %>
      <%= submit "Save", class: "btn btn-primary" %>
    </div>
  </div>

  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      Oops, something went wrong! Please check the errors below.
    </div>
  <% end %>

  <div class="row">
  <div class="col-6">

  <div class="card">
  <div class="card-body">

  <div class="form-group row">
    <%= label f, :name, class: "col-4 col-form-label" do %>
      Leave Type
    <% end %>
    <div class="col-6">
      <%= text_input f, :name, class: "form-control form-control-sm" %>
    </div>
    <%= error_tag f, :name %>
  </div>

  </div>
  </div>

  </div>
  </div>

<% end %>
