<div class="row">
  <%= render PortalWeb.SharedView, "sidebar.html" %>

  <div class="col-10 fixed-height px-2">
  <div class="container py-3">

  <h3>Edit Department</h3>

    <%= render "form.html", Map.put(assigns, :action, Routes.department_path(@conn, :update, @department)) %>

    </div>
    </div>
</div>
