<div class="row">
  <%= render PortalWeb.SharedView, "sidebar.html" %>

  <div class="col-10 fixed-height px-2">
    <div class="container py-3">

      <h3>List of Departments</h3>

      <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
        <div class="btn-group" role="group" aria-label="Standard Actions">
          <%= link "New Record", to: Routes.department_path(@conn, :new), class: "btn btn-outline-primary" %>
        </div>
      </div>

      <%= if get_flash(@conn, :info) do %>
        <div class="alert alert-info" role="alert">
          <%= get_flash(@conn, :info) %>
        </div>
      <% end %>

      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Department</th>

            <th></th>
          </tr>
        </thead>
        <tbody>
      <%= for department <- @departments do %>
          <tr>
            <td><%= department.departmentName %></td>

            <td>
              <span><%= link "View", to: Routes.department_path(@conn, :show, department) %></span>
              <span><%= link "Edit", to: Routes.department_path(@conn, :edit, department) %></span>
              <span><%= link "Delete", to: Routes.department_path(@conn, :delete, department), method: :delete, data: [confirm: "Are you sure?"] %></span>
            </td>
          </tr>
      <% end %>
        </tbody>
      </table>

    </div>
    </div>
</div>
