<div class="row">
  <%= render PortalWeb.SharedView, "sidebar.html" %>

  <div class="col-10 fixed-height px-2">
    <div class="container py-3">

    <h3>View Department</h3>

    <div class="btn-toolbar pb-3 pt-1" role="toolbar" aria-label="Toolbar Actions">
      <div class="btn-group" role="group" aria-label="Standard Actions">
        <%= link "Back", to: Routes.department_path(@conn, :index), class: "btn btn-primary" %>
        <%= link "New", to: Routes.department_path(@conn, :new), class: "btn btn-primary" %>
        <%= link "Edit", to: Routes.department_path(@conn, :edit, @department), class: "btn btn-primary" %>
      </div>
    </div>

    <%= if get_flash(@conn, :info) do %>
      <div class="alert alert-info" role="alert">
        <%= get_flash(@conn, :info) %>
      </div>
    <% end %>

    <div class="row">
    <div class="col-6">

    <div class="card">
    <div class="card-body">

    <div class="form-group row">
      <label for="inputDepartment" class="col-4 col-form-label">
        Department
      </label>
      <div class="col-6">
        <input type="text" class="form-control form-control-sm" id="inputDepartment" value="<%= @department.departmentName %>" disabled>
      </div>
    </div>

    </div>
    </div>

    </div>
    </div>

  </div>
  </div>
</div>
